<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex</title>
</head>
<body>

#include "body.header.include"

<div class="container">

<h1>Download TypeRex</h1>

<hr />

<br />

<div class="row">

<div class="span9">

<div class="index"><h2>Version 1.0.0</h2></div>

<p>The current version of TypeRex is <a href="pub/typerex-1.0.0rc1.tar.gz">1.0.0rc1</a>.</p>

<p>The first release of TypeRex brings to the OCaml world editor
  features which are available in other mainstream programming
  languages. This first version only targets Emacs on Unix (Linux and
  MacOSX), but more editors will be supported soon. If you are
  interested by porting TypeRex to other platforms, you can find more
  informations on the <a href="support.html">Support</a> page.</p>

<h3>System requirements</h3>

<ul>
<li>Linux (32-bit or 64-bit) or MacOS (tested with 10.6.8)</li>
<li>OCaml &#X2265;3.11.2</li>
<li>Emacs (Tested with 23.2.1, does not work under
X-Emacs, reported to work with Aquamacs)</li>
</ul>
</div>

<div class="span3">
<br/>
<br/>
<br/>

<p><a class="btn btn-primary btn-large" href="pub/typerex-1.0.0rc1.tar.gz">
Download Sources  &rsaquo;&rsaquo;</a></p>

<p><a class="btn btn-primary btn-large" href="pub/typerex-1.0.0rc1.pdf">
PDF Manual &rsaquo;&rsaquo;</a></p>

<p><a class="btn btn-primary btn-large" href="pub/typerex-1.0.0rc1.short.pdf">
Quick Reference &rsaquo;&rsaquo;</a></p>
</div>

</div>
</div>

#include "body.trailer.include"

</body>
</html>
