<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex</title>
</head>
<body>

#include "body.header.include"

<div class="container">

<h1>Downloading Typerex</h1>

<br/>

<div class="row">

<div class="span9">

<h2>Version 1.0.0</h2>

<p>The latest release of TypeRex is version 1.0.0.</p>

<p>This is the first release of TypeRex which supports only Emacs and
  Linux. It brings to the OCaml world what was available in
  mainstream programming languages.</p>
</div>

<div class="span3">
<p><a class="btn btn-primary btn-large" href="files/typerex-1.0.0.tar.gz">Download  &rsaquo;&rsaquo;</a>

<a class="btn btn-primary btn-large"
   href="files/typerex-1.0.0.pdf">Manual  &rsaquo;&rsaquo;</a></p>
</div>

</div>
</div>

#include "body.trailer.include"

</body>
</html>
