<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex</title>
</head>
<body id="Screen">

#include "body.header.include"

<h1>Features</h1>

<UL CLASS="itemize">
  <LI CLASS="li-itemize"> Improved syntax coloring</LI>
  <LI CLASS="li-itemize">Auto-completion of identifiers (experimental)</LI>
  <LI CLASS="li-itemize">Browsing of identifiers: show type and
comment, go to definition, cycle between alternate definitions, and
&#X201C;semantic grep&#X201D;</LI>
  <LI CLASS="li-itemize">Strictly semantic-preserving, local and
  whole-program refactoring:
    <UL CLASS="itemize"><LI CLASS="li-itemize">
        renaming identifiers and compilation units
      </LI>
      <LI CLASS="li-itemize">open elimination and reference simplification</LI>
    </UL>
  </LI><LI CLASS="li-itemize">Robust <EM>w.r.t.</EM> not-recompiled, possibly unsaved buffers
</LI><LI CLASS="li-itemize">Scalable (used regularly on a few hundreds of source files)
</LI></UL><P>
All the features of the Tuareg mode are also included, even when we
provide an equivalent of them.</P>

#include "body.trailer.include"

</body>
</html>
