<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex</title>
</head>
<body>

#include "body.header.include"

<div class="container">
<div class="row">
<div class="span6">
<div class="carousel">
  <div class="carousel-inner">

    <div class="item active">
      <img src="files/typerex-menu.png"/>
      <div class="carousel-caption">
        <h4>TypeRex IDE</h4>
        <p>TypeRex integrates with your favorite editors.</p>
      </div>
    </div>

    <div class="item">
      <img src="files/grep_Texp_for.png"/>
      <div class="carousel-caption">
        <h4>Semantic Grep</h4>
        <p>TypeRex shows where identifiers are defined and used.</p>
      </div>
    </div>

    <div class="item">
      <img src="files/completion.png"/>
      <div class="carousel-caption">
        <h4>Auto-Completion</h4>
        <p>TypeRex proposes possible completions when you write code.</p>
      </div>
    </div>

  </div>

  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>

<div class="span6">
<h2>TypeRex,<br/> the OCaml Programming Studio</h2>

<p>TypeRex is a powerful development environment for OCaml. It is
designed to integrate easily in your favorite editor, and to provide
all the commands that programmers expect from a modern IDE.</p>

<p><a class="btn btn-large btn-primary" href="download.html">
Download &rsaquo;&rsaquo;</a></p>

<br/>

<p>TypeRex contains the following features:</p>

<table class="table table-striped">
<tr><td>Show types and comments</td></tr>
<tr><td>Browsing of identifiers: go to definition, cycle between
  alternate definitions, and semantic grep.</td></tr>
<tr><td>Strictly semantic-preserving, local and whole-program
    refactoring as renaming identifiers and compilation units</td></tr>
<tr><td>Improved syntax coloring</td></tr>
<tr><td>Auto-completion of identifiers (experimental)</td></tr>
<tr><td>Robust <em>w.r.t.</em> not-recompiled, possibly unsaved
  buffers</td></tr>
<tr><td>Scalable (used regularly on a few hundreds of source files)</td></tr>
</table>

</div>
</div>
</div>

#include "body.trailer.include"

</body>
</html>
