<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex</title>
</head>
<body>

#include "body.header.include"

<div class="carousel">
  <div class="carousel-inner">

    <div class="item active">
      <img src="files/grep_Texp_for.png"/>
      <div class="carousel-caption">
        <h4>Semantic Grep</h4>
        <p>TypeRex provides semantic grep for you project. This feature show you
          where an identifier is defined and used in your project.</p>
      </div>
    </div>

    <div class="item">
      <img src="files/completion.png"/>
      <div class="carousel-caption">
        <h4>Completion</h4>
        <p>TypeRex provides code-completion for you project. This feature is still
          experimental in the first version of TypeRex.</p>
      </div>
    </div>

  </div>

  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
</div>

<div class="container">
<div class="row">
<div class="span6">
<h2>The OCaml Programming Studio</h2>

<p>TypeRex is a new development environment which improves what was
previously available for OCaml, by bringing some of the features which
are considered classic in editors for mainstream programming languages.</p>

<p>The TypeRex environment for Emacs is written in OCaml and relies on
parts of the OCaml compiler to provide a more accurate semantic view
of the OCaml programs which are edited, enabling a set of specific
commands and behaviors.</p>

<p><a class="btn" href="files/typerex.tar.gz">Download &rsaquo;&rsaquo;</a></p>
</div>

<div class="span6">
<h2>Features</h2>

TypeRex contains the following features:

<p><ul>
  <li> Improved syntax coloring</li>
  <li>Auto-completion of identifiers (experimental)</li>
  <li>Browsing of identifiers: show type and comment, go to
  definition, cycle between alternate definitions, and semantic
  grep;</li>
  <li>Strictly semantic-preserving, local and whole-program refactoring:
    <ul>
      <li>renaming identifiers and compilation units</li>
      <li>open elimination and reference simplification</li>
    </ul>
  </li>
  <li>Robust <em>w.r.t.</em> not-recompiled, possibly unsaved
  buffers</li>
  <li>Scalable (used regularly on a few hundreds of source files)</li>
</ul></p>

</div>
</div>

#include "body.trailer.include"

</body>
</html>
