<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex</title>
</head>
<body>

#include "body.header.include"
#include "body.manual-index.include"

<h1>TypeRex setup</h1>

<p>This chapter describes the process of installing and configuring
TypeRex from the sources, on a Unix environment with OCaml already
installed.</p>

<h2><a name="download"></a>TypeRex distribution and supported environments</h2>

<h3>System requirements</h3>

<ul>
<li>Linux (32-bit or 64-bit) or MacOS (tested with 10.6.8)</li>
<li CLASS="li-itemize">OCaml &#X2265;3.11.2</li>
<li CLASS="li-itemize">Emacs (Tested with 23.2.1, does not work under
X-Emacs, reported to work with Aquamacs)</li>
</ul>

<h3>Obtaining TypeRex</h3>

<p>We recommend using the compressed archive distribution of
TypeRex.</p>

<h4>Source archive</h4>

<p>All versions of TypeRex can be found at
<a href="http://www.ocamlpro.com/typerex/files">
<tt>http://www.ocamlpro.com/typerex/files</tt></a>.</p>

<h2><a name="installation"></a>Installation</h2>

<h3>Build configuration</h3>

<p>
<pre>    1:  ./configure [options]</pre>

Useful options (examples):

<pre>
    --bindir=/opt/typerex
    --with-lispdir=~/.emacs.d
        default is a system-wide installation path
    --with-ocp-build=&lt;command&gt;
        default is 'ocp-build' if found, `pwd`/boot/ocp-build.boot otherwise
    --disable-auto-complete
        default is to install Emacs auto-complete, unless found in lispdir
    --enable-cmt
        binary-annotate typerex sources (for typerex developpers)
</pre>

You may also specify an <code>EMACS</code> variable, as:

<pre>    1:  ./configure [options] EMACS=aquamacs</pre>
</p>

<h3>Building</h3>

<p><pre>    2:  make</pre>

<h3>Installation</h3>

<pre>    3:  sudo make install</pre>

Append the contents of emacs.append to your <code>&#X223C;/.emacs</code>:

<pre>    4:  cat emacs.append &gt;&gt;~/.emacs</pre>

(or paste the contents where you like). The next section
shows how to customize this Emacs configuration in order to handle
non-standard settings and to fine-tune various TypeRex options.</p>

<h3>Testing the environment</h3>

<p>Open a <code>.ml</code> file inside emacs, and switch to the
<code>*Messages*</code> buffer. If you see the line &#X201C;Connection
established with TypeRex server&#X201D;, the installation is OK.</p>

<h2><a name="configuration"></a>TypeRex configuration (optional)</h2>

<p>The following additional configuration is done through Emacs
customizable variables, and can be changed in two ways:</p>

<ul>
<li>By directly editing the .emacs file to change the values.</li>
<li>Through the Emacs customization mechanism, by choosing
&#X201C;Customize TypeRex Mode&#X201D; under the TypeRex Menu. Remember to check
your <code>.emacs</code> for duplicate variable customization, because
<code>setq</code> assignments are ignored when updating the
<code>custom-set-variables</code> expression. Also note that many changes
require restarting Emacs to become effective, or at least running
<code>M-x ocp-restart-server</code>.</li>
</ul>

<h3>TypeRex contextual menu</h3>

<p>The contextual menu can be enabled when right-cliking ; it offers the
same actions as the keyboard shortcuts.
<pre>
    ;; Uncomment to enable typerex command menu by right click
    (setq ocp-menu-trigger [mouse-3])
</pre></p>

<h3>TypeRex syntax coloring</h3>

<p>By default, TypeRex proposes a new syntax coloration for OCaml source files.
  You may disable it by setting <code>ocp-syntax-coloring</code>
  to <code>nil</code> instead of <code>t</code>. Alternatively, you
  can change the coloring theme to look almost like Tuareg mode (with
  minor improvements and differences) by
  setting <code>ocp-theme</code> to <code>"tuareg_like"</code>.</p>

<h3>Auto-completion</h3>

<p>A (still very primitive) contextual identifier completion feature is
provided, relying on the Emacs Auto Complete Mode written by Tomohiro
Matsuyama. It can be enabled by uncommenting the following lines in
<code>.emacs</code>:</p>

<pre>
    ;; AutoComplete
    (add-to-list 'load-path "/usr/local/share/emacs/site-lisp/auto-complete-mode")
    (ac-config-default)
    (setq ocp-auto-complete t)

    ;; Using <`> to complete whatever the context, and <C-`> for `
    (setq auto-complete-keys 'ac-keys-backquote-backslash)

    ;; I want immediate menu pop-up
    (setq ac-auto-show-menu 0.)

    ;; Short delay before showing help
    (setq ac-quick-help-delay 0.3)

    ;; Uncomment to disable help showing
    ;;(setq ac-use-quick-help nil)

    ;; Number of characters required to start (nil to disable)
    (setq ac-auto-start 0)
</pre>

<p>If you like auto-completion, you can enable it for all supported modes
(using dictionaries):</p>

<pre>
    ;; Uncomment to enable auto complete mode globally (independently of OCaml)
    (require 'auto-complete-config)
    (add-to-list 'ac-dictionary-directories
                 "/usr/local/share/emacs/site-lisp/auto-complete-mode/ac-dict")
    (ac-config-default)
</pre>

<b>Warning!</b> Do not set a black background using <code>M-x
  invert-face default</code> when using auto-completion ; instead,
  start Emacs with <code>emacs -r</code>.</p>

<h4>Auto completion keys</h4>

<p>Changing the default keys and behavior can be useful to fit the user's
habits. For example, the provided configuration
<code>'ac-keys-backquote-backslash</code> keeps normal behavior of
<code>TAB</code>, <code>RET</code>, <code>&lt;up></code>, and <code>&lt;down></code>, 
and uses respectively <code>&lt;`></code>, <code>&lt;\></code>, <code>&lt;C-p></code>
 and <code>&lt;C-up></code>
 instead, remapping <code>'`'</code> to <code>&lt;C-`></code>.</p>

<p>On some keyboards, <code>&lt;<sup>2</sup>></code> and <code>&lt;$></code> may be more
appropriate than <code>&lt;`></code>, <code>&lt;\></code>. This is achieved by setting
<code>auto-complete-keys</code> to <code>ac-keys-two-dollar</code>.</p>

<p>Setting <code>auto-complete-keys</code> to <code>nil</code> will use the default
auto-complete configuration, that is, with <code>TAB</code>, <code>RET</code>,
<code>&lt;up></code>, and <code>&lt;down></code>.  Alternatively, one may want to use
all standard keys, but with auto-start disabled and using a specific
trigger key.</p>

<pre>
    ;; Standard keys but starting only with C-TAB, and no auto-start
    (setq ac-auto-start nil)
</pre>

<p>Finally, you can also define a customized
<code>'ac-keys-&hellip;</code> function by looking at the implementation of
predefined ones, or set the auto-complete configuration variables
directly, but then make sure to set <code>auto-complete-keys</code> to
<code>nil</code>. See the Auto Complete Mode user manual for more details on
the corresponding configuration.</p>

<h3>Reconfiguring paths</H3>

<p>The values of all the paths described in the following are determined
at configure time, so normally you should not need to change them,
unless you didn&#X2019;t perform the install step.</p>

<h4>Emacs lisp directory</h4>

<p>The directory in which the TypeRex (and auto-complete) lisp code is
searched for is configured by the <code>(add-to-list 'load-path ...)</code>
line in <code>emacs.append</code>. Note that if you ran <code>configure</code>
with default options the value should be
<code>/usr/local/share/emacs/site-lisp</code> which is in the default
load-path, so this line is probably even not required.</p>

<h4>TypeRex server command</h4>

<p>The TypeRex development environment is implemented by means of a
server which is launched by Emacs. The command which is fed to the
shell to launch the server is defined by the variable
<code>ocp-server-command</code>. You can use it for example to pass a particular
OCAMLliB environment variable (see bellow) to the server. In a
standard setup, the corresponding line in emacs.append is also not
required as the default value is the executable base name, and is
searched in the path.</p>

<h4>OCaml standard library</h4>

<p>Most TypeRex executables (most notably the server) need to access
the OCaml standard library at runtime. They look at the following
options, in decreasing priority order, to determine the appropriate
directory:</p>

<ol>
<li><code>OCAMLliB</code> environment variable</li>
<li><code>CAMLliB</code> environment variable</li>
<li>option <code>ocamllib</code>
  in <code>&#X223C;/.ocp/ocaml.conf</code></li>
<li>the value determined by the configure script when building
  typerex.</li>
</ol>

</div>
</div>

#include "body.trailer.include"

</body>
</html>
