<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex</title>
</head>
<body>

#include "body.header.include"
#include "body.manual-index.include"

<h1>Introduction</h1>

<p>We present a new development environment which improves what was
previously available for OCaml, by bringing some of the features which
are considered classic in editors for mainstream programming languages.</p>

<p>The TypeRex environment for Emacs is written in OCaml and relies on
parts of the OCaml compiler to provide a more accurate semantic view
of the OCaml programs which are edited, enabling a set of specific
commands and behaviors.</p>

<p>A few additional tools are provided together with the TypeRex
environment, which mostly serve to perform the necessary specific
processing on the edited programs, namely, provide appropriate
<em>binary annotations</em> about the source files.</p>

<h2>Summary of TypeRex features</h2>

<ul>
 <li>Improved syntax coloring</li>
 <li>Auto-completion of identifiers (experimental)</li>
 <li>Browsing of identifiers: show type and comment, go to definition,
 cycle between alternate definitions, and semantic grep;</li>
 <li>Strictly semantic-preserving, local and whole-program refactoring:
   <ul>
     <li>renaming identifiers and compilation units</li>
     <li>open elimination and reference simplification</li>
   </ul></li>
 <li>Robust <em>w.r.t.</em> not-recompiled, possibly unsaved buffers</li>
 <li>Scalable (used regularly on a few hundreds of source files)</li>
</ul>

<p>All the features of the Tuareg mode are also included, even when we
provide an equivalent of them.</p>

</div>
</div>

#include "body.trailer.include"

</body>
</html>
