<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex Screenshots</title>
</head>
<body id="Screen">

#include "body.header.include"

<h1>Screenshots</h1>


<img src="files/coloring.png" width="400" />
<img src="files/command-menu.png" width="400" />
<img src="files/comment-definition.png" width="400" />
<img src="files/completion.png" width="400" />
<img src="files/grep_Texp_for.png" width="400" />
<img src="files/renaming.png" width="400" />
<img src="files/text-menu.png" width="400" />
<img src="files/typerex-menu.png" width="400" />
<img src="files/undo.png" width="400" />



#include "body.trailer.include"

</body>
</html>
