<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex Screenshots</title>
</head>
<body>

#include "body.header.include"


<h1>Screenshots</h1>

<ul class="thumbnails">

  <li class="span3">
  <div class="thumbnail">
  <img src="files/coloring.png" alt="">
      <h5>Coloring</h5>
      <p>Improved syntax coloring, smarter incremental treatment of strings and comments</p>
  </div>
  </li>

  <li class="span3">
  <div class="thumbnail">
  <img src="files/typerex-menu.png" alt="">
      <h5>TypeRex menu</h5>
      <p>The main TypeRex menu (also providing the most useful Tuareg commands)</p>
  </div>
  </li>

  <li class="span3">
  <div class="thumbnail">
  <img src="files/command-menu.png" alt="">
      <h5>Command menu</h5>
      <p>Contextual menu with all TypeRex actions</p>
  </div>
  </li>

  <li class="span3">
  <div class="thumbnail">
  <img src="files/comment-definition.png" alt="">
      <h5>Describing identifiers</h5>
      <p>Immediate access to identifiers' comments and detailed typing information</p>
  </div>
  </li>

  <li class="span3">
  <div class="thumbnail">
  <img src="files/grep_Texp_for.png" alt="">
      <h5>Semantic grep</h5>
      <p>Powerful "semantic grep" feature for all OCaml identifiers</p>
  </div>
  </li>

  <li class="span3">
  <div class="thumbnail">
  <img src="files/renaming.png" alt="">
      <h5>Renaming</h5>
      <p>Consistent, global renaming of identifiers, correct w.r.t. scopes and the module system...</p>
  </div>
  </li>

  <li class="span3">
  <div class="thumbnail">
  <img src="files/undo.png" alt="">
      <h5>Undo</h5>
      <p>Consistent, safe undoing of multiple-files modifications</p>
  </div>
  </li>

  <li class="span3">
  <div class="thumbnail">
  <img src="files/pack-modules.png" alt="">
      <h5>Packs</h5>
      <p>Supports module packing with very little configuration (expperimental)</p>
  </div>
  </li>

</ul>

#include "body.trailer.include"

</body>
</html>
