<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex</title>
</head>
<body>

#include "body.header.include"

<h1>TypeRex is Open-source</h1>

<div class="container">

<p>TypeRex is open-source software developed
by <a href="http://www.ocamlpro.com">OCamlPro</a> and
<a href="http://www.inria.fr/">INRIA</a>.</p>

<ul>
<li>Ask your questions
  on <a href="http://stackoverflow.com/questions/tagged/typerex">Stack
  Overflow</a>.</li>
<li>Report bugs
  on <a href="https://github.com/OCamlPro/typerex/issues">Github</a>.</li>
<li>Fork
on <a href="https://github.com/OCamlPro/typerex">Github</a> to
contribute.</li>
</ul>

<br/>

<h1>Support</h1>

<p><a href="http://www.ocamlpro.com/">OCamlPro</a> provides commercial
  support on TypeRex. OCamlPro can provide the following services on
  TypeRex:</p>
<ul>
<li>Development (new features, specialization, etc.)</li>
<li>Training for developers</li>
<li>Long-term industrial support</li>
<li>Consulting</li>
<ul>

</div>

#include "body.trailer.include"

</body>
</html>
