<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
#include "head.include"
   <title>TypeRex</title>
</head>
<body>

#include "body.header.include"

<h1>TypeRex is an Open-Source software</h1>

<p>TypeRex is an open-source software developed
  by <a href="http://www.ocamlpro.com">OCamlPro</a>. We plan to
  enlarge supported platforms (Eclipse, windows, ...) in the next
  releases, but if you really need a specific platform support, please
  <a href="mail://contact@ocamlpro.com">contact us</a> and we will be
  happy to discuss about your needs.</p>

<ul>
<li>You can ask your questions about TypeRex
  on <a href="http://stackoverflow.com/questions/tagged/typerex">Stack
  Overflow</a>. Make sure to tag your question with at least
  tags <em>TypeRex</em> and <em>OCaml</em>.</li>

<li>Bugs reports should be sent through
the <a href="https://github.com/OCamlPro/typerex/issues">github</a>
issue tracker..</li>

</ul>

<br/>

<h1>Industrial Users</h1>

<p>If you are a company and you are using TypeRex, drop us a mail
at <a href="mail://contact@ocamlpro.com">OCamlPro</a> and we will be
very happy to get your feedback on our tools. Moreover, we can help
you if you are looking for:

<ul>
<li>training on TypeRex</li>
<li>targeted development efforts (typically for supporting new platforms)</li>
<li>and long-term commercial support</li>
<ul>

#include "body.trailer.include"

</body>
</html>
