.footer {
        margin-top: 100px;
	color: black;
	background-color: white;
	font-size: 13px;
	line-height: 20px;
	clear: both;
	overflow: hidden;
        border-top: 2px solid #e0e0e0;
        border-bottom: 2px solid #e0e0e0;
	padding-top: 20px;
	padding-bottom: 20px;
}

.footer ul {
        list-style: none;
}

.footer h4 {
        border-bottom: 1px solid grey;
}

.footer h4 a {
        color: #333;
}

.footer h4 a:hover {
        border-bottom: 0;
}

.footer .copyright {
        clear: both;
}

.contribute {
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
    padding-bottom: 20px;
}

.footer a {
	color: #08C;
        text-decoration: none;
}

.footer a:hover {
	color: #08C;
        text-decoration: underline;
}

body {
	background: #F0F0F0;
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, Sans;
        line-height: 22px;
        font-size: 15px;
}

p {
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, Sans;
        line-height: 22px;
        font-size: 15px;
}

ul, li {
        line-height: 20px;
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Droid Sans'), local('DroidSans'), url('http://themes.googleusercontent.com/static/fonts/droidsans/v3/s-BiyweUPV0v-yRb-cjciL3hpw3pgy2gAi-Ip7WPMi0.woff') format('woff');
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Droid Sans Bold'), local('DroidSans-Bold'), url('http://themes.googleusercontent.com/static/fonts/droidsans/v3/EFpQQyG9GqCrobXxL-KRMXbFhgvWbfSbdVg11QabG8w.woff') format('woff');
}
